.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-position-y: center;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    background-image: url('../assets/images/shoes.png');
    background-repeat: no-repeat;
  }
  
  .aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
  }
  
  .aboutBottom p {
    margin-bottom: 100px;
    padding-bottom: 50px;
    width: 1100px;
    font-weight: 500;
    font-size: x-large;
    font-style: oblique;
  }
  
  .about .aboutBottom h1 {
    align-items: top;
    font-weight: 400;
    font-size: 100px;
    color: black;
    height: 120px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
    margin-bottom: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }